# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ List popular languages for Data Science
+ List commonly used libraries for Data Scientists
+ Table of popular Data Science tools
+ Examples of arithmetic expressions in Python

 Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print("hours in 200 minutes:", hours)

hours in 200 minutes: 3.3333333333333335

## Author
Halyna